{% extends '../../../views/template.html' %}

{% block menu %}
	<a class="navbar-brand" href='/'>Home</a>
{%endblock%}

{%block content%}
	<!-- <h1>Nuevo Dojo</h1>
	<form action='/dojo' method='POST'>
		<p>Dojo:
			<input type='text' name='nombredojo'>
		</p>
		<p>Sensei:
			<input type='text' name='nombre'>
		</p>
		<p>Dirección:
			<input type='text' name='direccion'>
		</p>
		<p>Teléfono:
			<input type='text' name='telefono'>
		</p>
		<p>Fecha de Fundación:
			<input type='date' name='fecha_fundacion'>
		</p>
		<p>Horario:
			<input type='text' name='horario'>
		</p>
		<p>email:
			<input type='text' name='email'>
		</p>
		<p><button type='submit'>Agregar</button></p>
	</form> -->
{%endblock%}